.ProductListPage {
  .ProductListPage-title {
    position: relative;
    padding: 15px;
    background-color: #f6f8fa;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 3px 3px 0 0;
    font-size: 18px;
    font-family: monospace;
    .ProductListPage-cart {
      position: absolute;
      right: 5px;
      padding: 10px;
      top: 4px;
      background-color: #E2E2E2;
      border: solid 1px #CCC;
      text-decoration: none;
      color: #333;
      font-family: sans-serif;
    }
  }
  .ProductListPage-category {
    padding: 15px 0;
    > .ProductListPage-category-item {
      cursor: pointer;
      margin-right: 6px;
      padding: 4px;
      color: #555;
      text-transform: capitalize;
      &:hover {
        background-color: #e3e3e3;
      }
      &.ProductListPage-category-item-active {
        border: solid 1px #CCC;
        background-color: #e3e3e3;
      }
    }
  }
}